<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%date{MMM dd yyyy HH:mm:ss.SSS}| [%thread] [%-5level]
				%logger{35}- %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/logfile.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>logs/accessguardian20.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>${logging.maxfilecopies}</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>${logging.maxfilesize}</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%date{MMM dd yyyy HH:mm:ss.SSS}| [%thread] [%-5level]
				%logger{35}- %msg%n
			</pattern>
		</encoder>
	</appender>
	<logger name="org.springframework" level="INFO" />
	<logger name="com.websystique" level="INFO" />
	<root level="info">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE"/>
	</root>
</configuration>