.row{
  margin-top:40px;
  padding: 0 10px;
}
.clickable{
  cursor: pointer;
}

.panel-heading div {
  margin-top: -18px;
  font-size: 15px;
}
.panel-heading div span{
  margin-left:5px;
}
.panel-body{
  display: none;
}

body{margin-top:50px;}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }