<div class="app-container">
  <!-- Add your site or application content here -->
  <div class="container">
    <header class="jumbotron">
      <a href="/"><h3>Movie Management</h3></a>
    </header>

    <div id="main" class="row">
      <aside id="menu_left" class="col-md-4">
        <nav>
          <ul class="nav nav-pills nav-stacked" >
            <li ng-repeat="item in vm.menu" ng-class="{active: item.active}" ng-click="vm.selectMenu(item.id)">
              <a ng-href="{{item.link}}">{{item.title}}</a>
            </li>
          </ul>
        </nav>
      </aside>

      <article id="content" class="col-md-8" ng-view="">
      </article>
    </div>
    <footer></footer>
  </div>
</div>