<div class="container">
    <div class="row">
        <div class="col-md-12">
            <fieldset style="height: 73px;">
                <legend></legend>
                <div ng-show="vmDetail.alertData.show" class=" alert {{vmDetail.alertData.key}}"
                     style="margin-bottom: 0px; height: 50px;">{{vmDetail.alertData.message}}</div>
            </fieldset>
            <fieldset>
                <legend></legend>
                <div class="row" style="margin-top: 0px; font-size: x-large;">
                    <div class="col-md-1 text-center">
                        <button type="button" class="btn btn-default func-button"  ng-click="vmDetail.viewAll()" aria-label="Left Align">
                        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                            </button>
                    </div>
                    <div class="col-md-7 text-center">
                        <h4>{{vmDetail.countdownStr}}</h4>
                    </div>
                    <div class="col-md-8 text-center">
                    </div>
                </div>
            </fieldset>
            <fieldset>
				<legend></legend>
				<div class="row" style="margin-top: 0px">
					<div class="col-md-3">
						<div class="panel panel-success">
							<div class="panel-heading">
								<h3 class="panel-title">Average Percent Total</h3>
							</div>
							<table class="table table-hover" id="task-table">
								<thead>
									<tr>
										<th>Time</th>
										<th>%</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="aver in vmDetail.averageTotal">
										<td>{{aver.time}}</td>
										<td>{{aver.value}}</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>

					<div class="col-md-9">
					<div class="row" style="margin-top: 0px">
                    <div class="col-md-12 text-left">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">USDT-Markets</h3>
								</div>
								<table class="table table-hover" id="dev-table">
									<thead>
										<tr>
											<th style="width: 5%;">#</th>
											<th style="width: 20%;">ID</th>
											<th style="width: 15%; text-align: left;">Unit</th>
											<th style="width: 10%; text-align: left;">Cost</th>
											<th style="width: 15%; text-align: left;">Profit</th>
											<th style="width: 13%; text-align: left">Input</th>
											<th style="width: 13%; text-align: left">Last</th>
											<th style="width: 9%; text-align: left;">%</th>

										</tr>
									</thead>
									<tbody>
										<tr ng-show="obj.show" ng-repeat="obj in vmDetail.data">
											<td>{{obj.stt + 1}}</td>
											<td>{{obj.id}}</td>
											<td style="text-align: left;">{{obj.unit}}</td>
											<td style="text-align: left;">{{obj.cost}}</td>
											<td style="text-align: left;">{{obj.profit}}</td>
											<td style="text-align: left;">{{obj.input}}</td>
											<td style="text-align: left;">{{obj.lastPrice}}</td>
											<td style="text-align: left;">{{obj.percent}}%</td>
										</tr>
										<tr>
											<td></td>
											<td></td>
											<td rowspan="2" style="font-size: large; font-weight: bold; text-align: right;">Total profit:</td>
											<td style="font-size: large; font-weight: bold;">{{vmDetail.profit}}</td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</div>
							</div>
					</div>
						<div class="row" style="margin-top: 0px">
                    <div class="col-md-12 text-left">
                        <h4 ng-click="vmDetail.configShowAlert()">{{vmDetail.alertData.label}}</h4>
                    </div>
                </div>
					</div>
				</div>
				
			</fieldset>
        </div>
    </div>
</div>