<div class="container">
    <div class="row">
        <div class="col-md-12">
            <fieldset style="height: 73px;">
                <legend></legend>
                <div ng-show="vmDetail.alertData.show" class=" alert {{vmDetail.alertData.key}}"
                     style="margin-bottom: 0px; height: 50px;">{{vmDetail.alertData.message}}</div>
            </fieldset>
            <fieldset>
                <legend></legend>
                <div class="row" style="margin-top: 0px; font-size: x-large;">
                    <div class="col-md-1 text-center">
                        <button type="button" class="btn btn-default func-button"  ng-click="vmDetail.viewAll()" aria-label="Left Align">
                        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                            </button>
                    </div>
                    <div class="col-md-8 text-center">
                    </div>
                    <div class="col-md-1 text-center">
                    </div>
                    <div class="col-md-1 text-center">
                    </div>
                    <div class="col-md-1 text-center">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend></legend>
                <div class="row" style="margin-top: 0px">
                    <div class="col-md-12 text-left">
                        <h4 ng-click="vmDetail.configShowAlert()">{{vmDetail.alertData.label}}</h4>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>